
.aux
.bit
.blg
.bbl
.bcf
.fdb_latexmk
.fls
.lof
.log
.lot
.glo
.glx
.gxg
.gxs
.idx
.ilg
.ind
.out
.url
.run.xml
.svn
.synctex.gz
.toc

texStuff/proposal/*.aux
texStuff/proposal/*.bit
texStuff/proposal/*.blg
texStuff/proposal/*.bbl
texStuff/proposal/*.bcf
texStuff/proposal/*.fdb_latexmk
texStuff/proposal/*.fls
texStuff/proposal/*.lof
texStuff/proposal/*.log
texStuff/proposal/*.lot
texStuff/proposal/*.glo
texStuff/proposal/*.glx
texStuff/proposal/*.gxg
texStuff/proposal/*.gxs
texStuff/proposal/*.idx
texStuff/proposal/*.ilg
texStuff/proposal/*.ind
texStuff/proposal/*.out
texStuff/proposal/*.url
texStuff/proposal/*.run.xml
texStuff/proposal/*.svn
texStuff/proposal/*.synctex.gz
texStuff/proposal/*.toc

texStuff/rapport/*.aux
texStuff/rapport/*.bit
texStuff/rapport/*.blg
texStuff/rapport/*.bbl
texStuff/rapport/*.bcf
texStuff/rapport/*.fdb_latexmk
texStuff/rapport/*.fls
texStuff/rapport/*.lof
texStuff/rapport/*.log
texStuff/rapport/*.lot
texStuff/rapport/*.glo
texStuff/rapport/*.glx
texStuff/rapport/*.gxg
texStuff/rapport/*.gxs
texStuff/rapport/*.idx
texStuff/rapport/*.ilg
texStuff/rapport/*.ind
texStuff/rapport/*.out
texStuff/rapport/*.url
texStuff/rapport/*.run.xml
texStuff/rapport/*.svn
texStuff/rapport/*.synctex.gz
texStuff/rapport/*.toc

expcode/dataprep/process_fec/images/train/*.jpg
expcode/dataprep/process_fec/images/test/*.jpg

expcode/dataprep/**/*.csv
expcode/dataprep/test.db



!*.tex
!*.bib
!*.sh
!*.md
!*.rst
!*.py

*.db
